body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #d5ecf5;
  border-radius: 15px;
  box-shadow:
    13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}
