body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #d5ecf5;
  border-radius: 15px;
  box-shadow:
    13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  color: black;
}

.navbar-toggler {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid black;
}

.nav-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all;
}

.navbar-brand {
  padding: 14px 20px;
}

.navbar-blue:hover .nav-wrapper {
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-blue {
  background-color: #5ddac6;
}

.all-show {
  z-index: 10;
}

#logo {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.searchButton {
  color: white;
}

.cardBG {
  background-color: #d5ecf5;
}

footer p {
  text-decoration: none;
  color: black;
}

// contact page

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  background: -moz-linear-gradient(left, #d5ecf5 0%, #5ddac6 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #d5ecf5 0%,
    #5ddac6 100%
  ) !important;
  background: linear-gradient(to right, #d5ecf5 0%, #5ddac6 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5ddac6;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  cursor: text;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition:
    transform 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
}

.details-card {
  max-width: 580px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cardProfile {
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #d5ecf5;
  position: relative;
  height: 370px;
}

.profileDetails {
  margin-top: 120px;
}

.userProfile {
  position: relative;
}

.profile {
  position: absolute;
  top: 20px;
  left: 38%;
  height: 90px;
  width: 90px;
  border: 3px solid #5ddac6;

  border-radius: 50%;
}

.profile img {
  height: 80px;
  width: 80px;
  margin-top: 2px;
}

.editButton {
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span {
  font-size: 29px;
}

.bodyProfile {
  background-color: #545454;
  font-weight: 300;
}

.containerDetail {
  height: 100vh;
}
